
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-12">
    </aside>

  </div>
<% else %>

<div class="center jumbotron">
  <h1>Welcome </h1>

  <h2>
    This is the home page for a work in progress for a virtual law firm billing and docketing application
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Login now!", login_path, class: "btn btn-lg btn-primary" %>

</div>



<% end %>

