<div  class="loginoverlay">
    <div class="login-card"><%= link_to image_tag("avatar_2x.png",  alt: "Avatar", :class => "profile-img-card") %>
        <p class="profile-name-card"> </p>


  <%= simple_form_for(:session, url: login_path) do |f| %>
  <%= f.input :email, placeholder: 'user@domain.com'%>
  <%= f.error :email%>
  <%= f.input :password%>
  <%= f.error :password%>
  <%= f.full_error :token %>
  <%= f.input_field :remember_me, as: :boolean, inline_label: 'Remember me on this computer', :checked=>true  %>
  <%= f.button :submit, "Log In" %>
<% end %> 
  </div>
</div>















