



<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<% provide(:originatingurl, edit_user_path(@user)) %>

<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'layouts/form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
  </div>
</div>
