
<h2><%= yield(:title) %></h2>
 
<%= simple_form_for (@client) do |f| %>

<div class="form-card">
<div  class="form-inline form client_form">
    <div class="form-group client_group">
  <%= f.input :name, label: 'Name*'%>
  <%= f.input :client_identifier, label: 'Client identifier*'%> 
    </div> 
</div> 
<hr> </hr>

<div class="group-header">Address</div>
<div class="form-inline form client_form">
  <div class="form-group client_group">
  <%= f.input :address_line_two, label: 'Street#1' %>
  </div>
</div>

<div class="form-inline form client_form">
  <div class="form-group client_group">
  <%= f.input :addressthree, label: 'Street#2' %>
  </div>
</div>


<div class="form-inline form client_form">
 <div class="form-group client_group">
<%= f.input :city, label: 'City'%>
 <%= f.input :state, label: 'State',
collection: ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL',
              'GA', 'HI', 'ID', 'IL', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD',
              'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
              'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI','SC',
              'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'  ]   %>
<%= f.input :zip, label: 'Zip'   %>
  </div>
</div>


<hr> </hr>

<div class="group-header">Primary Contact</div>
<div  class="form-inline form client_form">
    <div class="form-group client_group">
  <%= f.input :first_name, label: 'First name'%>
  <%= f.input :last_name, label: 'Last name'%>
  <%= f.input :contactphone, label: 'Phone No.'%> 
    </div> 
</div> 


<div class="client_button_wrapper">
<%= f.button :submit %>
</div>

</div>


<% end %> 











