

//@import "bootstrap-sprockets";
//@import "bootswatch/spacelab/variables";
//@import "bootstrap";
//@import "bootswatch/spacelab/bootswatch";  // If you don't pick the spacelab bootswatch theme than "sandstone" looks good. 




// Bootstrap body padding for fixed navbar
body { 
  padding-top: 0px;
  margin: 0px;
}

// Change the background color to light grey
div#main {
  background:  #bcbabe;
}

// universal override to center H1 headings.  
h1 {
    text-align: center;
}



//First navbar
// Changes the topnavbar to a gradient blue
div.navbar-inner {
    background-image: linear-gradient(#6d94bf, #446E9B 50%, #3e648d);
}

//change the annoying space below the top navigation bar from 6px to 0
header hr {
  height: 0px;
  }

//needed to add some padding between navtop and nav second
.appnav {
  padding-top: 40px;
}


//Second Navbar
// change the application second navigation bar below the header to a gradient white
// center the second navbar, then width, remove transparent boarder and give the edges a radius
@media (min-width: 480px) and (max-width: 1169px) {
nav#appnav.navbar.navbar-default {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    height:55px;
    border-radius: 15px;
    border: none;
    background-image: -webkit-linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #eeeeee), to(#e4e4e4));
    background-image: linear-gredient(#ffffff, #eeeeee %50, #e4e4e4);
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px #000000;
}
}

//Same rule as above.  Except that this is fixed width (at 1170px) for browser requests in which the page width is 1170px or greater.  
@media (min-width: 1170px){
nav#appnav.navbar.navbar-default {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    width: 1170px;
    height:55px;
    border-radius: 15px;
    border: none;
    background-image: -webkit-linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #eeeeee), to(#e4e4e4));
    background-image: linear-gredient(#ffffff, #eeeeee %50, #e4e4e4);
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px #000000;
}
}


//style drop down menus within the second navbar
// Add a transition animation upon hover of a menu dropdown
.dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition:         all 0.4s  ease;
  -moz-transition:    all 0.4s  ease;
  -webkit-transition: all 0.4s  ease;
  -o-transition:      all 0.4s  ease;
  -ms-transition:     all 0.4s  ease;
}
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.dropdown {
  display: inline-block;
}
//end of transition animation for dropdowns



div.col-md-12 {
    position: relative;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    padding-top: 15px;
}

//This adds padding to page content, gives it the white background, and a shaddow
div#content.col-md-12 {
    padding-bottom: 80px;
    padding-top: 40px;
    padding-left:50px;
    padding-right:50px;
    background-color: #f1f1f2;
    box-shadow: 0 5px 15px #000000;
}





//FORMS
//Change the label for each field from capitalized to regular case and make the font larger with a normal weight
label.form-label {
  text-transform: inherit;
  font-size: 15px;
  color: black;
  font-weight: normal;
}

//form control or input box styling on GET
.form-control {
  height: 28px;
  padding: 4px 12px;
  border-radius: 8px;
}

//change border width
input.form-control {
  border: 1px solid black;
}

//change form control input on focus to white
.form-control:focus   {
   background-color: rgba(255,255,255, 1);
//  background-color: rgba(169, 169, 169, 0.2);  
  border: 2.2px solid;
}

// change border width on hover
.form-control:hover  {
  border: 2.2px solid black;
}

//change form control color upon error
.has-error .form-control {
  background-color: rgba(139, 0, 0, 0.2);  
}

//add an emphasis to an error form control upon focus
.has-error .form-control:focus {
  background-color: rgba(139, 0, 0, 0.27);  
}

//change the border color of dropdowns within form to match the style of text input boxes
select.form-control {
   border: 1px solid black;
}

//change dropdowns within the form to match the styling on hover as text input boxes
select.form-control:hover {
  border: 2.2px solid black;
}




/* google style login */
//change the background and make it fit the screen through the "cover option"
div.loginoverlay {
  background-image: image-url('DSCN0180.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}


.login-card {
  max-width:350px;
  padding:40px 40px;
  background-color:#4b7447;
  margin:0 auto 25px;
  margin-top:50px;
  border-radius:2px;
  box-shadow:0px 20px 20px rgba(0, 0, 0, 0.7);
  opacity: 0.95;
  border-radius:5%;
  border-style: solid;
  border-width: 3px;
  border-color: green;
}

.login-card .profile-img-card {
  width:96px;
  height:96px;
  margin:0 auto 10px;
  display:block;
  border-radius:50%;
}

.login-card .profile-name-card {
  font-size:16px;
  font-weight:bold;
  text-align:center;
  margin:10px 0 0;
  min-height:1em;
}

.login-card .reauth-email {
  display:block;
  color:#404040;
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
}


.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button {
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
}

//give the labels on the login card a font color
.login-card label {
  color:#000000;
}

//give the email input a white background
.form-control.string.email.required:focus {
  background-color: rgba(255, 255, 255, 1.0); 
}

//give the password input a white background
.form-control.password.required:focus {
  background-color: rgba(255, 255, 255, 1.0); 
}

//make the checkbox and corresponding label line up vertically and give it some margin to give some room from the log in button
input#session_remember_me {
  position:relative;
  vertical-align: middle;
  margin-bottom: 5px;
}


//new client form
form#new_client {
  margin-top: 50px;
  margin-bottom: 20px;
  
}

//define name width
input#client_name.form-control{
  width: 400px;
}

input#client_client_identifier.form-control{
  width: 350px;
}

input#client_address_line_two  {
  width: 400px;
}

input#client_addressthree  {
  width: 400px;
}


input#client_city {
  width: 400px;
}

input#client_zip {
  width: 180px;
}

select#client_state {
  width: 120px;
}

input#client_first_name {
  width: 185px;
  margin-right: 22px;
}

input#client_last_name {
  width: 185px;
  margin-right: 40px;
}


input#client_contactphone {
  width: 300px;
}

div.form-group.client_name {
margin-right: 40px;  
}

div.form-group.address_line_two {
margin-right: 40px;  
}

div.form-group.client_city {
margin-right: 40px;  
}

div.form-group.client_state {
margin-right: 40px;  
}

span.help-block {
display: block;
position: absolute;  
}

//give the client identifier a hint
label.form-label.string.required[for="client_client_identifier"]:after {
  font-size: 10px;
  content:' (Required - Must be 4-20 characters long)';
  font-weight: lighter;
  font-style: italic;
}

//Let the user know that the client name is required
label.form-label.string.required[for="client_name"]:after {
  font-size: 10px;
  content:' (Required)';
  font-weight: lighter;
  font-style: italic;
}

//Let the user know that the client name is required
label.form-label.string.optional[for="client_zip"]:after {
  font-size: 10px;
  content:' (5 or 9 digits with a dash)';
  font-weight: lighter;
  font-style: italic;
}


//define a double column width for client form and center the form
@media (min-width: 796px){
div.form-inline.form.client_form {
  width: 796px;
  margin:0 auto;
}
}

//define a single column width for client form
@media (min-width: 480px) and (max-width: 795px) {
div.form-inline.form.client_form {
  width: 580px;
  margin:0 auto;
}
}

//define spacing for inline group of input controls
div.form-group.client_group {
  margin-top: 10px;
  margin-bottom: 10px;
}

input.btn.btn-primary {
  margin: 0 auto;
  display: block;
}

.client_button_wrapper {
  margin-top: 25px;  
  margin-bottom: 40px;
}

// add background color to new client form 
form#new_client {
  background-color: rgba(191, 221, 242, 0.9);
  box-shadow:0px 10px 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: lightblue;
}

// give some spacing between top of page and the form card
div.form-card {
  margin-top: 40px;
}

div.group-header {
  margin-top: 10px;
  margin-bottom: 18px;
  margin-left: 25px;
  text-transform: inherit;
  font-size:16px;
  color: black;
  font-weight: bold;
  
}
  

