<% if logged_in? %>   <!-- Only show navbar if logged in -->

<header>
<!-- Below is the Gimlet/bootstrap navbar changed for our purposes -->
  <div class="appnav"> 
  <nav class="navbar navbar-default" role="navigation" id="appnav" >

  <div class="container" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a>         -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--  <li class="active"><a href="#">Link</a></li>   -->
       <!--  <li><a href="#">Link</a></li>  -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clients<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/clients">Client List</a> </li>
            <li><a href="/clients/new">Create Client</a></li>
        <!-- <li><a href="#">Something else here</a></li>   
            <li class="divider"></li>
           <li><a href="#">Separated link</a></li>  
            <li class="divider"></li>
         <!--   <li><a href="#">One more separated link</a></li> -->
          </ul>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>  -->
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilities <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
             <li><%= link_to "Users", users_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
          <!--   <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>   -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
</div>  <!-- /.appnav -->
<!-- end of the Gimlet/bootstrap navbar -->
<% else %>
<% end %>

</header>













