

<%# Links for current user. %>

<%
=begin %>
<div class="navbar-text pull-right">
<%= icon_tag "user" %> Welcome, <strong><%= "User" %></strong>
<span class="divider">|</span>
<%= link_to "Settings", "#" %>

</div>
<%
=end %>
