
<% content_for :navbar,  render("layouts/user_nav")   %>

<%=  render :layout => "layouts/base" do %>
  <div class="page-header">
    <div class="row">
      <div class="col-md-12">

<%
=begin %>
        <%= yield(:title)  %>
        <%= yield :description %>
<%
=end %>

      </div>
      <div class="col-md-12">
      
        <%= yield :actions %>
      </div>
    </div>
  </div><!-- /.page-header -->

  <div class="row">
    <div id="content" class="col-md-12">
      <%= yield  %>
    </div> <!-- /#content -->
  </div> <!-- /.row -->

<% end %> <!-- end of render do -->

